

.loading-banner {
  background-color: #0B102B;
  border-color: #27293e !important;
  width: 80%;
}
.user-input{
  border: none !important;
}
.message-container {
  width: 100%;
}
.bot-message {
  float: left;
  padding: 15px 20px;
  margin: 5px;
  border-radius: 20px 20px 20px 1px;
  background: #00aaa5;
  color: white;
  min-width: 40px;
  text-align: left;
}

.user-message {
  float: right;
  padding: 15px 10px;
  margin: 10px;
  border-radius: 20px 20px 1px 20px;
  background: #cccccc;
  color: black;
  text-align: right;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}